body{
  background-color: white;
  
}
html{
  scroll-behavior: smooth;
}

body,
#root{
 min-height: 100vh;
 
}

.container{
  max-width: 1350px;
}

@font-face {
  font-family: "Roxborough";
  src: local("Roxborough"),
   url("./fonts/Roxborough.ttf") format("truetype");
  
 }
 
.Rox{
  font-family: "Roxborough";
}

/*Header CSS*/
.HeaderSection{
  padding: 10px 20px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  backdrop-filter: blur(3px);
 
}



.HeaderList{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0;
}

.HeaderLink{
  font-weight: 700 !important;
  padding: 10px 30px;
  border-radius: 9999px;
  transition: all 0.3s ease-in-out;
  color: white;
  

}

.HeaderSection a{
  text-decoration: none;
}

.hover-white:hover{
  color: white !important;
  background-color: #705936;
}

.hover-brown:hover{
  color: #705936 !important;
  background-color: white;
}






/*Hero CSS*/
.HeroSection{
  height: 100vh;
  background-image: url('/public/assets/images/church.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -50px ;
  z-index: 2;
}

.HeroContainer{
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

.HeroSection h1{
  color: white;
  font-size: 6rem;
  max-width: 700px;
  text-align: center;
}

.HeroContainer span{
  color: white;
  font-size: 1.3rem;
  margin-bottom: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px 10px;
}



/*ChiSono CSS*/

.ChiSonoSection{
  background-color: #f1eee8;
  height: 100vh;
}

.ChiSonoSection .container{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px 40px;
}

.CSLeft{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ChiSonoSection .container h2{
color:#705936;
font-size: 3rem;

}

.ProfileImage{
  height: 400px;
  width: 450px;
}

.CSRight p{
  padding-top: 70px;
  font-size: 1.3rem;
  color:#705936;
  font-weight: 400;
}



/*Galleria Section*/
.GalleriaSection{

}

.GalleriaSection .container{
  height: 100%;
  padding: 100px 40px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.GalleriaText{
  color:#705936;
  font-size: 3rem;
}

.GalleriaSection .container p{
  font-size: 1.3rem;
  color:#705936;
}

.IconsContainer{
  display: flex;
  flex-direction: row;
}

.IconsContainer{
  display: flex;
  flex-direction: row;
}

.IconsContainer .col-4{
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
}

.Categories{
  height: 200px;
  padding: 10px;
  width: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.CategoryName{
  position: absolute;
  display: none;
  color: white;
  font-size: 2rem;
  }

.IconsContainer .col-4:hover .CategoryName{
  display: flex;
}


.Categories:hover {
  filter: brightness(50%) ;
  cursor: pointer;
  transform: scale(1.02);
}


.ceri-pasquali {
  padding: 100px;
  background-color: #e9d7b6;
}

.CeriPasqualiText {
  font-size: 3rem;
  /* margin-bottom: 30px; */
  color: #705936; 
}

.CeriPasqualiContainer {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  margin-top: 220px;
}

.items-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 20px;
}

.item {
  width: 300px;
  text-align: center;
  background-color: #f1eee8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.item-title {
  font-size: 1.5rem;
  color: #705936; 
  font-weight: bold;
  margin-bottom: 10px;
}

.item-description {
  font-size: 1rem;
  line-height: 1.5;
  color: #705936;
}

.coloriInAltreFormeSection{
  background-image:url('/public/assets/images/Colori In Altre Forme.jpg') ;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -50px ;
  z-index: 2;
  margin-top: 170px;
  padding-bottom: 150px;
}

.coloriInAltreFormeText {
  color: #f1eee8;
  font-size: 4rem;
  padding-top: 100px;

}

.coloriInAltreFormeSection p{
  color:#f1eee8;
  font-size: 1.5rem;

}

.coloriInAltreFormeContainer{
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}


.mostreSection{
  padding: 50px;
  background-color: #f1eee8;

}

.mostreText{
  color: #705936;
  font-size: 3rem;
  padding-top:100px ;

}
.mostreSection h6{
  color: #705936;
  font-size: 1.5rem;
}

.mostreSection p{
  color: #705936;
  font-size: 1rem;
}

.mostreContainer{
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.mostreIcons {
  flex-wrap: wrap;
  gap: 24px; /* Slightly increase the gap for a more spacious layout */
  position: relative;
  justify-content: center; /* Center the rows */
  align-items: center; /* Align items vertically */
  display: flex;
}

.mostreIcons .col-4 {
  flex: 0 0 calc(30% - 20px); /* Increase the width of each item */
  max-width: calc(30% - 20px); /* Ensure consistent sizing */
}

.mostreIcons .col-4:nth-child(4),
.mostreIcons .col-4:nth-child(5) {
  flex: 0 0 calc(45% - 20px); /* Increase width for the last two items */
  max-width: calc(45% - 20px);
}

.mostreIcons .col-4 img {
  width: 100%; /* Ensure images stretch to fit the container */
  height: auto; /* Maintain aspect ratio */
}

.appuntiSection{
  background-image:url('/public/assets/images/appunti.png') ;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -50px ;
  z-index: 2;
  margin-top: 170px;
  padding-bottom: 150px;
}


