@media screen and (max-width:768px) {

    /* Header Section */
    .HeaderSection {
        padding: 10px 20px;
        height: 70px;
    }

    .HeaderLink {
        font-weight: 700 !important;
        padding: 10px 30px;
        border-radius: 9999px;
        transition: all 0.3s ease-in-out;
        color: white;
        font-size: 1rem;

    }

    


    /* Hero section */
    .HeroSection {
        height: 70vh;
        background-size: contain;
        background-position-y: 0px;
        background-attachment: none;
        background-image: url('../public/assets/images/churchImage.jpg');
    }

    .HeroSection h1 {
        font-size: 2.5rem;
    }

    .HeroSection span {
        font-size: 1rem;
    }


    /* ChiSono Section */
    .ChiSonoSection{
        padding: 0;
    }

    .ChiSonoSection .container .row{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .CSLeft{
        width: 100%;
    }
    
    .ProfileImage{
        height: 300px;
        width: 100%;
    }

    .CSRight{
        width: 100%;
    }

    .ChiSonoSection .container .row{
        display: flex;
        flex-direction: column;
    }


    /* Galleria Section  */

    .GalleriaText{
        margin: 0;
    }

    .GalleriaSection .container {
        gap: 20px;
    }

    .GalleriaSection .container p{
        margin: 0;
    }

    .IconsContainer{
        gap: 10px;
    }

    .IconsContainer .col-4{
        margin: 0;

    }
    
    .CategoryName{
        display: flex;
        text-align: center;
    }

    /* Ceri Pasquali  */

    .item{
        width: 110px;
    }
    .item-image{
        height: 100px;
        object-fit: cover;
    }

    /* Colori in Altre Forme */

    .coloriInAltreFormeSection{
       background-attachment:local;
    }

    .Categories{
        padding: 5px 0px;
    }

    .mostreSection h6{
        margin: 0;
    }

    .mostreIcons .col-3{
        padding: 0;
    }

    .appuntiSection{
        background-image:url('/public/assets/images/appunti.png') ;
        background-attachment: local;
        background-size: cover;
        background-position-x:-160px ;
        height: 40vh;
      }

      .appuntiSection h2{
        font-size: 2rem !important;
      }
      
      .appuntiSection h6{
        color: #705936;
        font-size: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        max-width: 950px;
        padding-top: 20px;
        letter-spacing: 1px;
      }
      


    /* Categories Map Section */
    .slideshow{
        gap: 0px;
      }

      .IconImage{
        width: 120px;
        height: 160px;
        padding: 5px;
      }

      .CategoryPageSection {
        padding-top: 50px;
      }

      .CategoryPageSection .container p{
        font-size: 1rem;
      }

}