.CeriPasquali {
  height: auto; /* Allow height to adjust dynamically */
  min-height: 100vh; /* Ensure it doesn't shrink too much */
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.CeriPasqualiText {
  font-size: 3rem;
  color: #705936;
  text-align: center;
  margin-bottom: 20px;
}

.CeriPasqualiContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.items-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  text-align: center;
  background-color: #f1eee8;
  padding: 20px;
  border: solid 10px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-width: 250px; /* Ensures items don't get too small */
  max-width: 400px; /* Prevents items from becoming too wide */
}

.item-image {
  width: 100%; /* Ensures responsiveness */
  max-width: 300px; /* Adjust as needed */
  max-height: 300px; /* Prevents images from getting too tall */
  height: auto; /* Maintains aspect ratio */
  object-fit: contain; /* Ensures the whole image is visible */
}

.item-title {
  font-size: 1.7rem;
  color: #705936;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 1366px) {
  .CeriPasqualiText {
    font-size: 2.8rem;
  }
}

@media (max-width: 1024px) {
  .CeriPasquali {
    padding-bottom: 300px;
    padding-top: 0px;
  }
  .CeriPasqualiText {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .CeriPasquali {
    padding-bottom: 300px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .items-container {
    gap: 15px;
  }
  .item {
    min-width: 220px;
    margin-bottom: 20px;
  }
  .item-title {
    font-size: 1.4rem;
  }
  .item-image {
    max-width: 250px;
    transition: transform 0.2s ease;
  }
  .item-image:hover {
    transform: scale(1.02);
  }
}

@media (max-width: 480px) {
  .CeriPasquali {
    padding-bottom: 300px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .CeriPasqualiText {
    font-size: 2rem;
    padding: 0 10px;
  }
  .items-container {
    flex-direction: column;
    align-items: center;
  }
  .item {
    width: 100%;
    max-width: 350px;
    margin-bottom: 25px;
  }
  .item-title {
    font-size: 1.2rem;
  }
  .item-image {
    max-width: 250px;
    cursor: pointer;
  }
}
